<?xml version="1.0"?>

<!-- uploads navigation goals to script server and starts navigation -->

<launch>
    <arg name="env" default="$(optenv ROBOT_ENV robothouse)" />
    <arg name="map" default="$(find fetch_navigation)/maps/map.yaml" />
    <arg name="move_base_include" default="$(find fetch_siso_launch)/launch/include/move_base.launch.xml" />
    
    <rosparam command="load" ns="/script_server/base" file="$(find fetch_siso_launch)/config/navigation_goals.yaml"/>

    <!-- <machine name="cob4-16-b1" address="cob4-16-b1" user="demo" password="demo" default="true"/> -->
    <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
        <arg name="map_file" value="$(arg map)"/>
	<arg name="move_base_include" value="$(arg move_base_include)"/>
    </include>
</launch>
